# Notebook: Consultas T-SQL con Northwind

Este notebook está diseñado para practicar **consultas T-SQL** utilizando la base de datos Northwind.
Aprenderás SELECT, FROM, WHERE, operadores, BETWEEN, IN, LIKE, ORDER BY, GROUP BY, HAVING, funciones de agregado, y JOINs.

## Ejercicio 1: SELECT básico

Mostrar el nombre de todos los productos.

- ProductName es nombre del campo de la tabla Products que contiene el nombre del producto
- La cláusula **FROM** indica el nombre de la tabla origen de los datos de la consulta

In [ ]:
SELECT ProductName
FROM Products;

## Ejercicio 2: SELECT con múltiples columnas
Mostrar nombre y precio unitario de los productos.

In [ ]:
SELECT ProductName, UnitPrice
FROM Products;

## Ejercicio 3: WHERE y operadores relacionales
Productos con precio mayor a 50.

In [ ]:
SELECT ProductName, UnitPrice
FROM Products
WHERE UnitPrice > 50;

## Ejercicio 4: Operadores lógicos
Productos con precio > 50 y stock > 20.

In [ ]:
SELECT ProductName, UnitPrice, UnitsInStock
FROM Products
WHERE UnitPrice > 50 AND UnitsInStock > 20;

## Ejercicio 5: Operadores aritméticos
Precio, descuento 10% y precio final.

In [ ]:
SELECT ProductName, UnitPrice,
       UnitPrice * 0.10 AS Descuento,
       UnitPrice - (UnitPrice * 0.10) AS PrecioConDescuento
FROM Products;

## Ejercicio 6: BETWEEN
Productos con precio entre 20 y 30.

In [ ]:
SELECT ProductName, UnitPrice
FROM Products
WHERE UnitPrice BETWEEN 20 AND 30;

## Ejercicio 7: IN
Productos de categorías 1, 3 y 5.

In [ ]:
SELECT ProductName, CategoryID
FROM Products
WHERE CategoryID IN (1, 3, 5);

## Ejercicio 8: LIKE
Clientes cuyo nombre de compañía empiece con 'A'.

In [ ]:
SELECT CompanyName, ContactName
FROM Customers
WHERE CompanyName LIKE 'A%';

## Ejercicio 9: ORDER BY
Empleados ordenados por apellido ascendente.

In [ ]:
SELECT LastName, FirstName, Title
FROM Employees
ORDER BY LastName ASC;

## Ejercicio 10: GROUP BY
Cantidad de productos por categoría.

In [ ]:
SELECT CategoryID, COUNT(*) AS TotalProductos
FROM Products
GROUP BY CategoryID;

## Ejercicio 11: HAVING
Categorías con más de 10 productos.

In [ ]:
SELECT CategoryID, COUNT(*) AS TotalProductos
FROM Products
GROUP BY CategoryID
HAVING COUNT(*) > 10;

## Ejercicio 12: JOINs
Pedidos con nombre del cliente y empleado.

In [ ]:
-- INNER JOIN
SELECT Orders.OrderID, Customers.CompanyName, Employees.LastName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID;

-- LEFT JOIN
SELECT Customers.CompanyName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID;

-- RIGHT JOIN
SELECT Customers.CompanyName, Orders.OrderID
FROM Customers
RIGHT JOIN Orders ON Customers.CustomerID = Orders.CustomerID;

## Ejercicios para resolver
A continuación, redacta las consultas desde cero en nuevas celdas de código:
1. Listar productos con stock < 10, ordenados por precio descendente.
2. Mostrar clientes de México, España o Argentina.
3. Listar pedidos de 1997, mostrando ID y fecha.
4. Obtener cantidad total de pedidos por cliente, solo los que tienen > 20 pedidos.
5. Nombre de productos junto al nombre de su categoría (INNER JOIN).
6. Todos los empleados y el número de pedidos que tienen (LEFT JOIN).

### Ejericico 1

Documentación:

- ProductName es nombre del campo de la tabla Products que contiene el nombre del producto
- UnitsInStock es nombre del campo de la tabla de Products que contiene las unidades en el stock
- UnitPrice es nombre del campo de la tabla Products que contiene el precio del producto
- La cláusula **FROM** indica el nombre de la tabla origen de los datos de la consulta
- WHERE UnitsInStock \< 10: Filltra las columnas para devolver los productos con menos de 10 unidades en stock
- ORDER BY UnitPrice DESC: Ordena los datos por el precio unitario de forma descendente (mayor a menor)
- El resultado esperado es una lista con poco stock, priorizando los más caros en la visualización
- Esta consulta ayuda a identificar productos que están por agotarse y que además representan un mayor valor económico
- armando.lopez

In [4]:
SELECT ProductName, UnitsInStock, UnitPrice
FROM Products
WHERE UnitsInStock < 10
ORDER BY UnitPrice DESC

ProductName,UnitsInStock,UnitPrice
Thüringer Rostbratwurst,0,123.79
Northwoods Cranberry Sauce,6,40.00
Alice Mutton,0,39.00
Perth Pasties,0,32.80
Mascarpone Fabioli,9,32.00
Chef Anton's Gumbo Mix,0,21.35
Louisiana Hot Spiced Okra,4,17.00
Scottish Longbreads,6,12.50
Gorgonzola Telino,0,12.50
Sir Rodney's Scones,3,10.00
Longlife Tofu,4,10.00
Rogede sild,5,9.50

Ejercicio 2

  

Documentación: